body{
  background-color: black;
}
h1, p{
  font-family: Verdana;
  text-align: center;
  color: White;
}
video,img{
  display: block;
  margin: 0 auto;
}
.main-header{
  font-weight: normal;
  font-size: 50px;
  color: White;
}
.link{
  color: Aquamarine;
  font-size: 16px;
}
.sub-header{
  font-weight: 300;
  font-size: 42px;
}
p{
  font-size: 21px;
  color: Gray;
}
.copyright{
  text-align: right;
}
